{% extends 'base-ui.html' %}
{% load static %}
{% block main %}

<div class="wrapper">
  <div class="page-header ">
    <div class="page-header-image" data-parallax="true"
         style="background-image: url('/static/assets/img/sofia/photo_2019-01-23_13-15-09.jpg');">
    </div>
    <div class="content-center">
      <div class="container">
        <h1 class="title">A história da Sofia.</h1>
        <!--        <div class="text-center">-->
        <!--          <a href="#pablo" class="btn btn-primary btn-icon btn-round">-->
        <!--            <i class="fab fa-facebook-square"></i>-->
        <!--          </a>-->
        <!--          <a href="#pablo" class="btn btn-primary btn-icon btn-round">-->
        <!--            <i class="fab fa-twitter"></i>-->
        <!--          </a>-->
        <!--          <a href="#pablo" class="btn btn-primary btn-icon btn-round">-->
        <!--            <i class="fab fa-google-plus"></i>-->
        <!--          </a>-->
        <!--        </div>-->
      </div>
    </div>
  </div>
  <div class="section section-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Quem é esse bebê?</h2>
          <h5 class="description">No dia 12 de janeiro de 2019 às 16h35 nascia o mais lindo milagre que
             poderíamos vivenciar em nossas vidas. Nosso amor trazia à luz um novo amor, lindo, perfeito e
            com o sorriso mais arrebatador que havíamos visto em toda nossa vida. Nascia a Sofia!</h5>
        </div>
      </div>
      <div class="separator separator-primary"></div>
      <div class="section-story-overview">
        <div class="row">
          <div class="col-md-6">
            <div class="image-container image-left"
                 style="background-image: url('/static/assets/img/sofia/photo_2019-01-23_13-15-06.jpg')">
              <!-- First image on the left side -->
              <p class="blockquote blockquote-primary">"E a sua posteridade será conhecida entre as nações, e os seus
                descendentes no meio dos povos; todos quantos os virem os reconhecerão como descendência bendita do Senhor."
                <br>
                <br>
                <small>-Isaías 61:9</small>
              </p>
            </div>
            <!-- Second image on the left side of the article -->
            <div class="image-container"
                 style="background-image: url('/static/assets/img/sofia/photo_2019-01-23_13-15-08.jpg')"></div>
          </div>
          <div class="col-md-5">
            <!-- First image on the right side, above the article -->
            <div class="image-container image-right"
                 style="background-image: url('/static/assets/img/sofia/photo_2019-03-12_07-38-01.jpg')"></div>
            <h3>Então se realiza o sonho que por anos foi tão esperado...</h3>
            <p>
              Éramos recém-casados mas o desejo já morava em nossos corações, aquela vontade de poder sentir
              materializado o fruto do nosso amor.
            </p>
            <p>
              A espera foi longa, mas sempre o é à vista dos olhos de quem espera. Quando alcançado descobriamos afinal
              que a espera não foi longa. Deus faz tudo no tempo certo, na medida exata da nossa capacidade.
            </p>
            <p>
              O milagre foi perfeito, no tempo e medidas exatas. Como foi bom ouvir o coraçãozinho pela primeira vez.
              Delicioso poder ver nos olhos da mamãe o sorriso da alma pela alegria e privilégio de carregar em seu
               ventre a mágica arte da vida. Poder sentir o seu mover, crescer e florescer. Essa é a história de um
              milagre particular, o conto da Princesa Sofia.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--  <div class="section section-contact-us text-center">-->
<!--    <div class="container">-->
<!--      <h2 class="title">Interessou-se por este projeto?</h2>-->
<!--      <p class="description">Entre em contato conosco.</p>-->
<!--      <div class="row">-->
<!--        <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">-->
<!--          <div class="input-group input-lg">-->
<!--            <div class="input-group-prepend">-->
<!--                <span class="input-group-text">-->
<!--                  <i class="now-ui-icons users_circle-08"></i>-->
<!--                </span>-->
<!--            </div>-->
<!--            <input type="text" class="form-control" placeholder="Nome...">-->
<!--          </div>-->
<!--          <div class="input-group input-lg">-->
<!--            <div class="input-group-prepend">-->
<!--                <span class="input-group-text">-->
<!--                  <i class="now-ui-icons ui-1_email-85"></i>-->
<!--                </span>-->
<!--            </div>-->
<!--            <input type="text" class="form-control" placeholder="Email...">-->
<!--          </div>-->
<!--          <div class="textarea-container">-->
<!--            <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Escreva seu interesse..."></textarea>-->
<!--          </div>-->
<!--          <div class="send-button">-->
<!--            <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Enviar</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

</div>
{% endblock %}