{% extends 'base-ui.html' %}
{% load static %}
{% block title %}INDEX DISSO AQUI{% endblock %}
{% block main %}
  <link type="javascript/js" href="{% static 'js/lightbox.js' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
  <link rel="stylesheet" href="{% static 'css/compact-gallery.css' %}">
  <div class="wrapper">
    <div class="page-header clear-filter" filter-color="pink">
      <div class="page-header-image" id="sofia" data-parallax="true"
           style="background-image:url({% static 'assets/img/sofia/photo_2018-05-13_11-32-17.jpg' %});">
      </div>
      <div class="container">
        <div class="content-center brand">
          <h1 class="title">Sofia</h1>
          <h4 class="">Filha amada da mamãe Gabriela</h4>
        </div>
      </div>
    </div>
    <div class="main">
      <!-- Section Lightbox -->
        <section class="gallery-block compact-gallery">
        <div class="container">
            <div class="começo ligthboxes mb-4">
                <div class="heading">
                    <h3 class="title h3">O começo</h3>
                    <h4 class="h4">Assim acontecia o maior milagre de Deus em nossas vidas</h4>

                </div>
                <div class="row no-gutters">

                  <div class="col-md-6 col-lg-4 item zoom-on-hover">
                        <a class="lightbox" href="{% static 'assets/img/sofia/photo_2018-05-01_16-18-04.jpg' %}">
                            <img class="img-fluid image" src="{% static 'assets/img/sofia/photo_2018-05-01_16-18-04.jpg' %}">
                            <span class="description">
                                <span class="description-heading">Primeiro passeio</span>
                                <span class="description-body">A primeira foto! Quem dera já ter ciência da sua chegada... Mas o que até o momento pensávamos viver apenas nos corações, já existia em nossas vidas.</span>
                            </span>
                        </a>
                    </div>
                  <div class="col-md-6 col-lg-4 item zoom-on-hover">
                        <a class="lightbox" href="{% static 'assets/img/sofia/photo_2018-05-14_21-26-36.jpg' %}">
                            <img class="img-fluid image" src="{% static 'assets/img/sofia/photo_2018-05-14_21-26-36.jpg' %}">
                            <span class="description">
                                <span class="description-heading">A descoberta</span>
                                <span class="description-body">Agora nós sabemos, você está aqui! Nossa Princesa!</span>
                            </span>
                        </a>
                    </div>
                  <div class="col-md-6 col-lg-4 item zoom-on-hover">
                        <a class="lightbox" href="{% static 'assets/img/sofia/002.jpeg' %}">
                            <img class="img-fluid image" src="{% static 'assets/img/sofia/002.jpeg' %}">
                            <span class="description">
                                <span class="description-heading">Chegou!</span>
                                <span class="description-body">Chegou nossa nenêm, quanto sacrifício da mamãe até aqui. Quanto esforço, sofrimento, dores... valeu cada um deles!</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="começo ligthboxes mb-4">
                <div class="heading">
                    <h3 class="title h3">1º mês</h3>
                    <h4 class="h4">Que experiência ímpar! A primeira vez em tudo...</h4>

                </div>
                <div class="row no-gutters">

                  <div class="col-md-6 col-lg-4 item zoom-on-hover">
                        <a class="lightbox" href="{% static 'assets/img/sofia/1m.jpg' %}">
                            <img class="img-fluid image" src="{% static 'assets/img/sofia/1m.jpg' %}">
                            <span class="description">
                                <span class="description-heading">Tão linda, e a cada dia mais e mais!</span>
                                <span class="description-body">Parabéns nenêm, que gratidão à Deus por tudo isso.</span>
                            </span>
                        </a>
                    </div>
                  <div class="col-md-6 col-lg-4 item zoom-on-hover">
                        <a class="lightbox" href="{% static 'assets/img/sofia/photo_2019-01-30_13-25-27.jpg' %}">
                            <img class="img-fluid image" src="{% static 'assets/img/sofia/photo_2019-01-30_13-25-27.jpg' %}">
                            <span class="description">
                                <span class="description-heading">O sorriso mais lindo do mundo</span>
                                <span class="description-body">Como derretia nosso coração à cada um desses sorrisos tão contagiantes filha querida.</span>
                            </span>
                        </a>
                    </div>
                  <div class="col-md-6 col-lg-4 item zoom-on-hover">
                        <a class="lightbox" href="{% static 'assets/img/sofia/25.jpeg' %}">
                            <img class="img-fluid image" src="{% static 'assets/img/sofia/25.jpeg' %}">
                            <span class="description">
                                <span class="description-heading">Os melhores momentos de nossas vidas</span>
                                <span class="description-body">Como é gostoso viver esse momento especiak filhona!</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="começo ligthboxes mb-4">
                <div class="heading">
                    <h3 class="title h3">2º mês</h3>
                    <h4 class="h4">O tempo realmente passa tão rápido né mamãe...?</h4>

                </div>
                <div class="row no-gutters">

                  <div class="col-md-6 col-lg-4 item zoom-on-hover">
                        <a class="lightbox" href="{% static 'assets/img/sofia/2m.jpg' %}">
                            <img class="img-fluid image" src="{% static 'assets/img/sofia/2m.jpg' %}">
                            <span class="description">
                                <span class="description-heading">O tempo voa</span>
                                <span class="description-body">Glórias à Deus pela sua evolução filha, saudável e tranquila.</span>
                            </span>
                        </a>
                    </div>
                  <div class="col-md-6 col-lg-4 item zoom-on-hover">
                        <a class="lightbox" href="{% static 'assets/img/sofia/24.jpeg' %}">
                            <img class="img-fluid image" src="{% static 'assets/img/sofia/24.jpeg' %}">
                            <span class="description">
                                <span class="description-heading">Que dor</span>
                                <span class="description-body">Corotou o coração da mamãe filha, mas era pro seu bem...</span>
                            </span>
                        </a>
                    </div>
                  <div class="col-md-6 col-lg-4 item zoom-on-hover">
                        <a class="lightbox" href="{% static 'assets/img/sofia/photo_2019-04-01_15-13-13.jpg' %}">
                            <img class="img-fluid image" src="{% static 'assets/img/sofia/photo_2019-04-01_15-13-13.jpg' %}">
                            <span class="description">
                                <span class="description-heading">Não se preocupe</span>
                                <span class="description-body">Essa mamãe é doida, mas sara todos os dodóis e te provoca os maiores sorrisos.</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="começo ligthboxes mb-4">
                <div class="heading">
                    <h3 class="title h3">3º mês</h3>
                    <h4 class="h4">Já aprendeu tantos truques, e ainda assim surpreende cada dia mais!</h4>

                </div>
                <div class="row no-gutters">

                  <div class="col-md-6 col-lg-4 item zoom-on-hover">
                        <a class="lightbox" href="{% static 'assets/img/sofia/3m.jpg' %}">
                            <img class="img-fluid image" src="{% static 'assets/img/sofia/3m.jpg' %}">
                            <span class="description">
                                <span class="description-heading">Delícia</span>
                                <span class="description-body">Mais um mês de bençãos, obrigado Senhor!</span>
                            </span>
                        </a>
                    </div>
                  <div class="col-md-6 col-lg-4 item zoom-on-hover">
                        <a class="lightbox" href="{% static 'assets/img/sofia/photo_2019-05-08_08-52-14.jpg' %}">
                            <img class="img-fluid image" src="{% static 'assets/img/sofia/photo_2019-05-08_08-52-14.jpg' %}">
                            <span class="description">
                                <span class="description-heading">Uauuu!/span>
                                <span class="description-body">Quando pensamos que já vimos todos os seus truques, você sempre surpreende nenêm!</span>
                            </span>
                        </a>
                    </div>
                  <div class="col-md-6 col-lg-4 item zoom-on-hover">
                        <a class="lightbox" href="{% static 'assets/img/sofia/photo_2019-03-27_10-28-44.jpg' %}">
                            <img class="img-fluid image" src="{% static 'assets/img/sofia/photo_2019-03-27_10-28-44.jpg' %}">
                            <span class="description">
                                <span class="description-heading">Sorrisão</span>
                                <span class="description-body">Como é bom ter assim, nossa Princesa!.</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

      <!-- end LIght box -->
    </div>

  </div>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.compact-gallery', { animation: 'slideIn'});
    </script>
{% endblock %}