{% extends 'base-ui.html' %}
{% load static %}
{% block title %}Sobre nós{% endblock %}
{% block main %}
<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image" data-parallax="true"
         style="background-image:url({% static 'assets/img/sofia/photo_2018-12-28_11-39-41.jpg' %});">
    </div>
    <div class="container">
      <span class="title h3">Rodrigo e Gabriela</span>
      <div class="photo-container">
        <img class="rounded img-raised" style="max-height: 300px;"
             src="{% static 'assets/img/sofia/photo_2019-04-08_07-29-29.jpg' %}" alt="">
      </div>
      <div class="content">
        <div class="social-description">
          <span class="h4">Uma família abençoada</span>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <h3 class="title">Sobre nós</h3>
      <h5 class="description">Amamos. Pura e simplesmente. Amamos um ao outro. Amamos nossa Princesa Sofia. Amamos acima
        de tudo à Deus, o Senhor Todo Poderoso que nos proporcionou o milagre magnífico que é nossa família hoje. As
        dificuldades nos moldaram, as dores nos fortaleceram, e hoje estamos a cada dia progredindo em construir a família
        mais feliz que pudermos ser.</h5>
      <div class="row">
<!--        <div class="col-md-6 ml-auto mr-auto">-->
<!--          <h4 class="title text-center">My Portfolio</h4>-->
<!--          <div class="nav-align-center">-->
<!--            <ul class="nav nav-pills nav-pills-primary nav-pills-just-icons" role="tablist">-->
<!--              <li class="nav-item">-->
<!--                <a class="nav-link" data-toggle="tab" href="#profile" role="tablist">-->
<!--                  <i class="now-ui-icons design_image"></i>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a class="nav-link active" data-toggle="tab" href="#home" role="tablist">-->
<!--                  <i class="now-ui-icons location_world"></i>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="nav-item">-->
<!--                <a class="nav-link" data-toggle="tab" href="#messages" role="tablist">-->
<!--                  <i class="now-ui-icons sport_user-run"></i>-->
<!--                </a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
        <!-- Tab panes -->
        <div class="tab-content gallery">
          <div class="tab-pane active" id="home" role="tabpanel">
            <div class="col-md-10 ml-auto mr-auto">
              <div class="row collections">
                 <div class="col-md-6">
                  <img src="{% static 'assets/img/sofia/08.jpeg' %}" alt="" class="img-raised">
                  <img src="{% static 'assets/img/sofia/16.jpeg' %}" alt="" class="img-raised">
                </div>
                <div class="col-md-6">
                  <img src="{% static 'assets/img/sofia/photo_2019-03-08_09-21-29.jpg' %}" alt="" class="img-raised">
                  <img src="{% static 'assets/img/sofia/2019-05-11193041.jpeg' %}" class="img-raised">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}