astroid==2.4.2
certifi==2020.4.5.2
chardet==4.0.0
colorama==0.4.3
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.0.7
django-storages==1.9.1
dropbox==10.2.0
idna==2.9
isort==4.3.21
lazy-object-proxy==1.5.0
mccabe==0.6.1
Pillow==7.1.2
pylint==2.5.3
python-decouple==3.3
pytz==2020.1
requests==2.23.0
six==1.15.0
sqlparse==0.3.1
static3==0.7.0
typed-ast==1.4.1
urllib3==1.25.9
users==1.0.dev0
wrapt==1.12.1
