{% extends 'base-ui.html' %}
{% load static %}
{% block title %} Álbuns {% endblock %}
{% block main %}
<link type="javascript/js" href="{% static 'js/lightbox.js' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
<link rel="stylesheet" href="{% static 'css/compact-gallery.css' %}">
<div class="wrapper">
    <div class="page-header clear-filter" filter-color="pink">
        <div class="page-header-image" id="sofia" data-parallax="true"
             style="background-image:url({% static 'assets/img/sofia/photo_2018-05-13_11-32-17.jpg' %});">
        </div>
        <div class="container">
            <div class="content-center brand">
                {% if user.is_authenticated %}
                <h1 class="title">Sofia</h1>
                <h4 class="">Filha amada da mamãe {{ user.username }} </h4>
                {% else %}
                <span class="text-white h2">Registre-se para obter essa função!</span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="main">
        <!-- Section Lightbox -->
        <section class="gallery-block compact-gallery">
            <div class="container">
                <div class="form-group pt-2">
                    <span class="h2 d-flex justify-content-center">Lista de Álbuns</span>
                    {% if user.is_authenticated %}
                        {% if albuns %}

                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Título</th>
                                <th scope="col">Mês</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for album in albuns %}
                            <tr>
                                <td><a href="{% url 'diario:album_detail' album.pk %}">{{ album.titulo }}</a></td>
                                <td>{{ album.mes }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p class="h3">Nao existem albuns para exibiçao</p>
                        {% endif %}
                    {% else %}
                    <span class="text-danger h4">*Efetue o loggin para vizualizar seus os álbuns</span>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
</div>

<!-- end LIght box -->
</div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script>
        baguetteBox.run('.compact-gallery', { animation: 'slideIn'});
    </script>
{% endblock %}